<div id="<%= dom_id computer %>">
  <p>
    <strong>Gati:</strong>
    <%= computer.gati %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= computer.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= computer.model %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= computer.serial_number %>
  </p>

  <p>
    <strong>Patrimony:</strong>
    <%= computer.patrimony %>
  </p>

</div>
