<div id="<%= dom_id equipment %>">
  <form>
    <fieldset disabled>
      <div class="row" >
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Tipo:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.kind_of_equipment %>">
        </div>
        <div class="col-6 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>GATI:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.gati %>">
        </div>
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Marca:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.brand %>">
        </div>
      </div>

      <div class="row" >
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Modelo:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.model %>">
        </div>
        <div class="col-3 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Nº de série:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.serial_number %>">
        </div>
        <div class="col-2 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Patrimônio:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.patrimony %>">
        </div>
        <div class="col-2 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Alocado:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.allocate ? 'Sim' : 'Não' %>">
        </div>
        <div class="col-2 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Em manutenção:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.maintenance ? 'Sim' : 'Não' %>">
        </div>
        <div class="col-2 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Fornecedor</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.supplier.name %>">
        </div>
        <div class="col-2 mb-3">
          <label for="disabledTextInput" class="form-label"><strong>Criado por:</strong></label>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= equipment.user.user_name %>">
        </div>
      </div>
    </fieldset>
  </form>
</div>
