<div class="container mt-3">
  <div class="row">
    <div class="col-9">
      <h3 class="mt-3">Equipamentos</h3>
    </div>
    <div class="col-3 text-end">
      <%= link_to "", new_equipment_path, class: 'mt-3 btn btn-outline-primary bi bi-plus' %>
    </div>
    <h1></h1>

    <div id="users">
      <table id="table" data-height="500" data-toggle="table" data-search="true" data-height="500" data-pagination="true" data-search-accent-neutralise="true" class="table table-bordered table-striped" >
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">GATI</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Nº de série</th>
            <th scope="col">Patrimônio</th>
            <th scope="col">Mac Adress</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @equipment.each do |equipment| %>
            <tr>
              <td><%= equipment.kind_of_equipment %></td>
              <td><%= equipment.gati %></td>
              <td><%= equipment.brand %></td>
              <td><%= equipment.model %></td>
              <td><%= equipment.serial_number %></td>
              <td><%= equipment.patrimony %></td>
              <td><%= equipment.macadress %></td>
              <td><%= link_to '', equipment, class: "btn btn-primary bi bi-eye" %></td>
              <td><%= link_to '', edit_equipment_path(equipment), class: "btn btn-primary bi bi-pencil-square" %></td>
              <td><%= link_to '', equipment, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger bi bi-trash" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
